/* Universal Styles */

body {
  font-family: "Helvetica",sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav a {
  display: inline-block;
    padding-right: 40px;
    color: seashell;
}


/* Content Section */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto 0 auto;
  padding-top: 70px;
}


/* Mission Section */

#mission {
  background-image: url("../../Resources/Images/img-mission-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
}

#mission .text-content {
  background-color: black;
  width: 1200px;

}

/* Featured Tea Section */

.tea-types img{
  height: 200px;
  width: 300px;
  margin: 16px;
}

.tea-types h4{
  margin-top: 10px;
}

.tea-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/*Locations Section */

#locations {
  background-image: url("../../Resources/Images/img-locations-background.jpg");
  height: 500px;
  width: 100%;
}


.location_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location {
  display: inline-block;
  margin: 0px 20px;
  width: 300px;
  background-color: black;
}

#locations h2 {
  margin-top: 50px;
}

/*Footer Section */

footer .info {
  height: 200px;
}

footer .copyright{
  text-align: left;
  margin-left: 20px;
}
